@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">PublishingHouses</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a href="@Url.Action("Add", "PublishingHouse")" class="btn btn-primary" id="myMarginLeft">Add New PublishingHouse</a>
    </div>


</div>

<h2 class="sub-header">All PublishingHouses</h2>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="form-group text-center">
            <div class="col-xs-12" id="MyGrid" style="width:100%">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/App/PublishingHouse/indexPublishingHouse.js"></script>