@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="homeMy" href="#home" aria-controls="home" role="tab" data-toggle="tab">Books</a></li>
            <li role="presentation"><a id="profileMy" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Magazine</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-center">
                        <div class="col-xs-12" id="MyGrid" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
        </div>

    </div>
</div>






<script>
    $(document).ready(function () {


        $("#MyGrid").kendoGrid({
            dataSource: {
                pageSize: 10,
                transport: {
                    read: function (e) {
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("GetBooks", "Home")',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                e.success(data);
                            },
                            error: function (data) {
                                e.error("", "400", data);
                            }
                        });
                    }
                }
            },
            height: 300,
            sortable: true,
            pageable: true,
            filterable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [{
                field: "Name",
                title: "Name"
            }, {
                field: "Author",
                title: "Author"
            }, {
                field: "TomNumber",
                title: "Tom Number"
            }, {
                field: "Actions",
                title: "Actions",
                template: "<a href='/Book/Edit/${Id}'>Edit</a> | <a class='deleteLink' href='/Book/Delete/${Id}'>Delete</a>"
            }]
        });
    })
    $('#homeMy a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    $('#profileMy a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
