@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">

    <div>
        <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="form-group text-center">
                        <div class="col-xs-12" id="MyGrid" style="width:100%">
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script src="~/Scripts/App/Hotel/indexHome.js"></script>
